In [3]:
import pandas as pd
import numpy as np

In [17]:
train_df_weather = pd.read_csv('train_weather.csv',index_col=0)

In [7]:
train_df_weather.columns

Index(['trip_duration', 'starttime', 'stoptime', 'start_station_ID',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_ID', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_ID', 'user_type',
       'birth_year', 'gender', 'start_date', 'start_time', 'start_hour',
       'start_min', 'start_year', 'start_month', 'start_dayofweek',
       'stop_date', 'stop_time', 'stop_hour', 'stop_min', 'stop_dayofweek',
       'distance', 'trip_per_day', 'daily_avg_trip_duration',
       'daily_avg_distance', 'trip_per_hour', 'hourly_avg_trip_duration',
       'hourly_avg_distance', 'trip_per_hour_eachday',
       'hourly_avg_trip_duration_eachday', 'hourly_avg_distance_eachday',
       'AWND', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'Fog', 'Heavy_Fog',
       'Thunder', 'Hail', 'Glaze', 'Haze', 'TAVG', 'HasPRCP', 'HasSNOW'],
      dtype='object')

In [18]:
train_df_weather[['start_station_ID','start_date','trip_per_day','trip_per_hour','trip_per_hour_eachday']]

,start_station_ID,start_date,trip_per_day,trip_per_hour,trip_per_hour_eachday
0,127.0,2017-01-20,24685,137.0,7.0
1,174.0,2017-01-22,18014,163.0,1.0
2,150.0,2017-01-04,32138,200.0,18.0
3,385.0,2017-01-14,12385,97.0,4.0
4,3374.0,2017-01-26,30286,124.0,6.0
...,...,...,...,...,...
2478713,459.0,2019-12-15,29922,335.0,11.0
2478714,493.0,2019-12-19,26874,148.0,7.0
2478715,303.0,2019-12-06,47558,169.0,2.0
2478716,238.0,2019-12-28,25366,97.0,7.0
2478717,426.0,2019-12-31,29334,280.0,17.0

In [19]:
# daily_data = train_df_weather.groupby('start_station_ID','start_hour').\
# agg({'start_station_latitude':lambda x: x.iloc[0],'start_station_longitude':lambda x: x.iloc[0],'trip_per_hour':lambda x: x.iloc[0]})

daily_data = train_df_weather.groupby(['start_station_ID','start_hour'])[['start_station_name','start_station_latitude','start_station_longitude','trip_per_hour']].agg(lambda x:x.iloc[0])
daily_data = daily_data.reset_index()

In [20]:
daily_data.to_csv('Daily.csv')